<span class="{{wrapper_classes}}">
  {{#if link_to}}
    {{#link-to link_to class=classes}}
      {{text}}
    {{/link-to}}
  {{/if}}

  {{#if action_1}}
    <button {{action action_1}} class={{classes}}>
      {{text}}
    </button>
  {{/if}}
</span>
