{{#if showing_hold_screen}}

  <h1>
    Hold Screen!
  </h1>

  <p>
    Please wait for the next question to become available.
  </p>

{{else}}

  <h1>
    Answering screen!
  </h1>

  <ul>
    <li>
      Real name: {{user.real_name}}
    </li>
    <li>
      Code name: {{user.code_name}}
    </li>
  </ul>

  <br><br>

  <ul>
    <li>
      Question index: {{ question_number }}
    </li>
    <li>
      Answered State: {{ answered_state }}
    </li>
    <li>
      Question State: {{ question_state }}
    </li>
  </ul>

  <br><br>

  {{current-question
      question_number = question_number}}

  <br><br>

  {{current-answers
      question_number=question_number
      user=user
      answered_state=answered_state
      users_who_answered=users_who_answered
      number_of_answers=users_who_answered.length}}
{{/if}}

<br><br><br>

<button {{ action 'reset_quiz_state' }}>
  Reset Quiz
</button>
