
<ul>
  {{#each model.answers as |answer|}}
    <li>
      {{answer.user_codename}}
    </li>
  {{/each}}
</ul>

<h1>
  Answering screen!
</h1>

<ul>
  <li>
    Real name: {{user.real_name}}
  </li>
  <li>
    Code name: {{user.code_name}}
  </li>
</ul>

<br><br>

<p>
  Question index: {{ quiz.current_q_number }}
</p>

<br><br>

{{current-question
    question_number = model.question.number}}

<br><br>

<button {{ action 'submit_answer' user quiz.current_q_number true 5 }}>
  Submit Answer
</button>

<br><br>

<button {{ action 'update_question' 1 }}>
  Next Question
</button>

<br><br>

<button {{ action 'delete_qs' user }}>
  Delete All
</button>
