{{#if showing_hold_screen}}

  <h1>
    Hold Screen!
  </h1>

  <p>
    Please wait for the next question to become available.
  </p>

{{else}}

  <h1>
    Answering screen!
  </h1>

  <ul>
    <li>
      Real name: {{user.real_name}}
    </li>
    <li>
      Code name: {{user.code_name}}
    </li>
  </ul>

  <br><br>

  <ul>
    <li>
      Question index: {{ question_number }}
    </li>
    <li>
      Next Question: {{ next_question_number }}
    </li>
    <li>
      Answered State: {{ answered_state }}
    </li>
    <li>
      Question State: {{ question_state }}
    </li>
  </ul>

  <br><br>

  {{current-question
      question_number = model.question.number}}

  <br><br>

  <button {{ action 'submit_answer' user model.question.number true 5 }}>
    Submit Answer
  </button>

  <br><br>

  <button {{ action 'go_to_next_question' }}>
    Next Question
  </button>
{{/if}}

<br><br><br>

<button {{ action 'reset_quiz_state' }}>
  Reset Quiz
</button>
