<h1>
  Join the Quiz!
</h1>

{{#unless user_info_submitted}}
  {{ input value=real_name class="border p2" placeholder="Real Name" }}

  {{ input value=code_name class="border p2" placeholder="Code Name" }}

  {{tw-button
      text="Make a random code name!"
      action_1=(action 'random_code_name')}}

  {{#unless invalid_user_data}}
    {{tw-button
        text="Make Your Entry"
        action_1=(action 'update_user_info')}}
  {{/unless}}
{{else}}
  <h4>
    Real name: {{ user.real_name }}
  </h4>
  <h4>
    Code name: {{ user.code_name }}
  </h4>

  <img src="{{user.avatar_url}}" alt="User avatar">

  <p>
    You're ready to play!
  </p>

  {{tw-button
        text="Go to the Quiz!"
        link_to='user.answering'}}
{{/unless}}
