
<h1 class="text-center mb-6">
  Join the Quiz!
</h1>

{{#unless user_info_submitted}}
  <div class="block mb-6">
    {{ input value=real_name class="border rounded p-2 w-full" placeholder="Real Name" }}
    <p class="font-bold mt-2">
      Put your real name here.
    </p>
  </div>

  <div class="block mb-8">
    {{ input value=code_name class="border rounded p-2 w-full" placeholder="Code Name" }}
    <p class="font-bold mt-2">
      Make a code name that others won't recognize.
    </p>
    <p class="text-sm mt-1 italic">
      Can't think of a code name? <a href="javascript:void(0)" {{ action 'random_code_name' }}>Make a random one!</a>
    </p>
  </div>

  <div>
    {{#unless invalid_user_data}}
      {{tw-button
          text="Submit Your Entry"
          action_1=(action 'update_user_info')}}
    {{/unless}}
  </div>
{{else}}
  <div class="text-center">
    <div class="text-xl mb-2">
      Real name: <strong>{{ user.real_name }}</strong>
    </div>
    <div class="text-xl mb-2">
      Code name: <strong>{{ user.code_name }}</strong>
    </div>

    <img class="w-4/5 md:w-2/5 mb-4" src="{{user.avatar_url}}" alt="User avatar">

    <p class="mb-4">
      You're ready to play!
    </p>

    {{#link-to 'user.answering' user.code_name}}
      Go to the Quiz!
    {{/link-to}}

    {{tw-button
          text="Go to the Quiz!"
          link_to='user.answering'}}
  </div>
{{/unless}}
