{{quiz-header
    finished=model.question.finished}}

<div class="text-center">
  <h1 class="mb-4">
    {{ basic_info.title }}
  </h1>

  <p class="mb-4">
    {{ basic_info.subheading }}
  </p>

  {{img-tag
      url=basic_info.home_image
      classes="block w-full md:w-3/5 md:mx-auto mb-4 md:mb-8"}}

  {{tw-button
      text="Direct link for new users"
      link_to='user.new'
      wrapper_classes="block mb-4"}}

  {{tw-button
      text="Everyone signed up?"
      link_to='explaination'}}
</div>
