{{quiz-header
    finished=model.question.finished}}

{{#unless question_is_closed}}
  {{countdown-timer
      limit=25
      event_on_finish=(action 'close_question')}}

  <br>
  <br>
{{/unless}}

<div class="mb-6">
  {{#each users_who_answered as |user|}}
    {{user-item
        user=user
        results_state=false
        show_points=question_is_closed
        show_names=false}}
  {{/each}}
</div>

<div class="text-center mb-4">
  <h3 class="mb-4">
    {{if-string question_is_closed 'Answer' 'Question'}} #{{ next_question_number }}
  </h3>

  {{current-question
      show_answer=question_is_closed
      question_number = question_number}}
</div>

{{#if question_is_closed}}
  {{tw-button
      text=(if-string last_question 'See the Results!' 'Next Question')
      action_1=(action 'go_to_next_question')}}
{{/if}}
