<h1>
  Quiz screen!
</h1>

<h3>
  Question is {{ question_state }}
</h3>

<br><br>

{{current-question
    question_number = question_number}}

<br><br>

<p>
  Answers for this question:
</p>

{{#each users_who_answered as |user|}}
  {{user-item
      user=user
      results_state=false
      show_points=question_is_closed
      show_names=false}}
{{/each}}

<br><br><br>

{{#unless question_is_closed}}
  <button {{ action 'close_question' }}>
    Close Question
  </button>
{{else}}
  <button {{ action 'go_to_next_question' }}>
    {{#if last_question}}
      See the Results!
    {{else}}
      Next Question
    {{/if}}
  </button>
{{/unless}}

<br><br>

{{quiz-footer
    finished=model.question.finished}}
