{{quiz-header
    finished=model.question.finished}}

<div class="text-center mb-6">
  <h1 class="mb-4">
    Question {{ question_number }}:
  </h1>

  <h3>
    {{current-question
        question_number = question_number}}
  </h3>
</div>

<div>
  {{#each users_who_answered as |user|}}
    {{user-item
        user=user
        results_state=false
        show_points=question_is_closed
        show_names=false}}
  {{/each}}
</div>

{{#unless question_is_closed}}
  {{tw-button
      text="Close Question"
      action_1=(action 'close_question')}}
{{else}}
  {{tw-button
      text=action_text
      action_1=(action 'go_to_next_question')}}
{{/unless}}
