{{quiz-header
    finished=model.question.finished}}

<h1 class="mb-6 text-center">
  {{if-string revealed_names 'Here\'s The Final Scores!' 'Ready for the Results?' }}
</h1>

<div>
    {{#each organized_results as |user|}}
        {{user-item
            user=user
            results_state=true
            show_points=revealed_names
            show_names=revealed_names}}
    {{/each}}
</div>

<div class="text-center">
    {{#unless revealed_names}}
        {{tw-button
            text="Reveal the names!"
            action_1=(action 'reveal_names')}}
    {{else}}
        {{#if admin}}
            {{tw-button
                text="Reset Quiz"
                action_1=(action 'reset_quiz_state')}}
        {{/if}}
    {{/unless}}
</div>
